@import './fonts.css';
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .btn {
    color:#fff;
    background-color: var(--color-bg-interactive-primary, #155DFC);
  }

  .dark .btn {
    background-color: #333;
    color:#fff;
  }

  .bg-primary {
    background-color: var(--color-bg-interactive-primary, #155DFC);
  }

  .dark .bg-primary {
    background-color: #333;
  }

  .text-primary {
    color:#fff;
  }

  .dark .text-primary {
    background-color: #333;
  }

}

@theme {
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html {
  overflow-x: hidden;
}
body {
  font-family: 'Pretendard', Arial, Helvetica, sans-serif;
  line-height: 140%;
}

.hide-scrollbar {
  overflow-x: scroll;
  /* -ms-overflow-style: none; */
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

