@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html {
  overflow-x: hidden;
}
body {
  font-family: 'Pretendard', Arial, Helvetica, sans-serif;
  line-height: 140%;
}

.hide-scrollbar {
  overflow-x: scroll;
  /* -ms-overflow-style: none; */
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
