@import './fonts.css';
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --breakpoint-xs: 375px;
  --breakpoint-sec3: 1194;
}

@layer components {
  .btn {
    color: #fff;
    background-color: var(--color-bg-interactive-primary, #015aff);
  }

  .dark .btn {
    background-color: #003aa5;
    color: #fff;
  }

  .bg-primary {
    background-color: var(--color-bg-interactive-primary, #015aff);
  }

  .dark .bg-primary {
    background-color: #333;
  }

  .text-primary {
    color: #fff;
  }

  .dark .text-primary {
    background-color: #333;
  }
  #tiptap-editor > div {
    color:#212121;
  }
  .dark #tiptap-editor > div {
    color:#fff;
  }
}

@theme {
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
}

:root {
  --background: #f8fafc;
  --foreground: #02050c;
}
html {
  overflow-x: hidden;
}
body,
h1,
h2,
p,
div,
li,
ol,
li {
  font-family: 'Pretendard', Arial, Helvetica, sans-serif;
  line-height: 140%;
}

.hide-scrollbar {
  overflow-x: scroll;
  /* -ms-overflow-style: none; */
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
